/ {
    aliases {
        i2c0 = &i2c3;
    };

    fstab {
        compatible = "zephyr,fstab";
        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/";
            automount;
            partition = <&storage_partition>;
            read-size = <1>;
            prog-size = <4>;
            cache-size = <8192>;
            lookahead-size = <32>;
            block-cycles = <512>;
        };
    };
};

&pinctrl {
    uart0_sleep: uart0_sleep {
        group1 {
            pinmux = <UART0TX_P22>;
        };
        group2 {
            pinmux = <UART0RX_P23>;
        };
    };
};

&uart0 {
    pinctrl-1 = <&uart0_sleep>;
    pinctrl-names = "default", "sleep";
};

&bleif {
    status = "disabled";
};

/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        slot0_partition: partition@18000 {
            label = "image-0";
            reg = <0x00018000 0x70000>;
        };
        storage_partition: partition@88000 {
            label = "storage";
            reg = <0x00088000 0x78000>;
        };
    };
};
