/ {
    aliases {
        i2c0 = &i2c3;
		/delete-property/ led0;
		/delete-property/ led1;
		/delete-property/ led2;
		/delete-property/ sw0;
		/delete-property/ sw1;
		/delete-property/ mcuboot-led0;
		/delete-property/ pwm-led0;
    };

    fstab {
        compatible = "zephyr,fstab";
        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/";
            automount;
            partition = <&storage_partition>;
            read-size = <1>;
            prog-size = <4>;
            cache-size = <8192>;
            lookahead-size = <32>;
            block-cycles = <512>;
        };
    };
};

&pinctrl {
    i2c3_default: i2c3_default {
        group1 {
            /delete-property/ bias-pull-up;
        };
    };
    i2c3_sleep: i2c3_sleep {
        group1 {
            pinmux = <M3SCL_P42>, <M3SDAWIR3_P43>;
        };
    };
};

&iom1 {
    spi1: spi {
        pinctrl-0 = <&spi1_default>;
        pinctrl-names = "default";
        cs-gpios = <&gpio0_31 11 GPIO_ACTIVE_LOW>;
        clock-frequency = <DT_FREQ_M(10)>;
        status = "okay";
    };
};

&i2c3 {
    pinctrl-1 = <&i2c3_sleep>;
    pinctrl-names = "default", "sleep";
    status = "okay";
};

&bleif {
    status = "disabled";
};

/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        slot0_partition: partition@18000 {
            label = "image-0";
            reg = <0x00018000 0x70000>;
        };
        storage_partition: partition@88000 {
            label = "storage";
            reg = <0x00088000 0x78000>;
        };
    };
};

/delete-node/ &{/leds};
/delete-node/ &{/buttons};
/delete-node/ &{/pwmleds};

&gpio32_63 {
  line-hogs {
    gpio-hog;
    gpios = <10 GPIO_ACTIVE_HIGH>, <15 GPIO_ACTIVE_HIGH>;
    output-low;
  };
};
