/ {
    aliases {
        i2c0 = &i2c3;
    };

    fstab {
        compatible = "zephyr,fstab";
        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/";
            automount;
            partition = <&storage_partition>;
            read-size = <1>;
            prog-size = <4>;
            cache-size = <8192>;
            lookahead-size = <32>;
            block-cycles = <512>;
        };
    };
};

&iom1 {
	spi1: spi {
		pinctrl-0 = <&spi1_default>;
		pinctrl-names = "default";
		cs-gpios = <&gpio0_31 11 GPIO_ACTIVE_LOW>;
		clock-frequency = <DT_FREQ_M(10)>;
		status = "okay";
	};
};

&i2c3 {
    status = "okay";
};

/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        slot0_partition: partition@18000 {
            label = "image-0";
            reg = <0x00018000 0x70000>;
        };
        storage_partition: partition@88000 {
            label = "storage";
            reg = <0x00088000 0x78000>;
        };
    };
};
